sudo: false
language: node_js
node_js:
  - "4"
  - "5"
  - "6"
script:
  - gulp install
  - gulp verify
  - gulp test
cache:
  directories:
  - node_modules
matrix:
  fast_finish: true
  allow_failures:
    - node_js: "5"
