<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js o-useragent-ie7{{oHoverClass}}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js o-useragent-ie8{{oHoverClass}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js{{oHoverClass}}"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{oDemoTitle}}</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <style>
    body {
        margin: 0;
    }
    .demo-message {
        margin: 0 0 10px 0;
        border-bottom: 1px solid #ddcc66;
        padding: 3px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-align: center;
        background-color: #ffee88;
        color: #333;
    }
    </style>
    {{{oDemoStyle}}}
</head>
<body>
    {{{oDemoMessage}}}
    {{{oDemoTpl}}}
    {{{oDemoScript}}}
    <script src='http://registry.origami.ft.com/embedapi?autoload=resize'></script>
</body>
</html>