<!DOCTYPE html>
<html lang="en" class="{{oDemoDocumentClasses}}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>{{oDemoTitle}}</title>
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<script src="{{{oDemoPolyfillUrl}}}"></script>
	<style>
		body {
			margin: 0;
		}
	</style>
	<script>
		// Load demo JavaScript if the cuts the mustard test passes.
		// core / enhanced mode classes are not implemented in demos as these
		// classes are global and for projects only.
		// https://origami.ft.com/docs/components/compatibility
		(function() {
			function loadScript(src) {
				var script = document.createElement('script');
				if (window.cutsTheMustard) {
					script.async = script.defer = true;
					script.src = src;
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(script, s);
				}
			}
			{{#oDemoDependenciesScriptPath}}
				// Add demo dependencies script tag
				loadScript('{{{.}}}');
			{{/oDemoDependenciesScriptPath}}
			{{#oDemoComponentScriptPath}}
				// Add demo script tag
				loadScript('{{{.}}}');
			{{/oDemoComponentScriptPath}}
		}());
	</script>

	{{#oDemoDependenciesStylePath}}
		<link rel="stylesheet" href="{{.}}">
	{{/oDemoDependenciesStylePath}}

	{{#oDemoComponentStylePath}}
		<link rel="stylesheet" href="{{.}}">
	{{/oDemoComponentStylePath}}
</head>
<body>
	{{> oDemoTpl}}
	<script src="https://registry.origami.ft.com/embedapi?autoload=resize"></script>
</body>
</html>
